.state-list {
  box-sizing: border-box;
  display: flex;
  list-style: none;
  z-index: 1;
  overflow: auto;

  width: 100%;
  height: 100%;

  margin: 0;
  padding: 0 1.8rem;

  border-top: 3px dashed var(--colors-sl-gray-500);
  counter-reset: state-idx;

  flex-flow: column;
  gap: 1.8rem;
  scroll-padding-top: var(--scroll-padding);
  scroll-snap-type: y mandatory
}


.state-list::before {
  content: "";
  display: block;
  flex: 0 0 auto;

  width: 100%;
  height: 2.8rem;

}

.state-list::after {
  content: "";
  display: block;
  flex: 0 0 auto;

  width: 100%;
  height: 100vh;
}

.state-list__state {
  box-sizing: border-box;
  position: relative;
  overflow: hidden;

  max-width: var(--max-list-width);
  min-height: var(--card-height);

  background-position: top right;

  padding: 0.8rem;
  border: 2px solid var(--colors-sl-blue-500);
  border-radius: 0.4rem;

  color: var(--colors-sl-blue-900);

  transition: all .28s ease-in-out;

  counter-increment: state-idx;

  scroll-snap-align: start;
}

.state-list__state-name {
  display: flex;
  align-items: flex-start;
  justify-content: center;

  margin: 0;

  color: var(--colors-sl-blue-800);
  font-size: 2.8rem;
  font-weight: 800;

  transition: color .28s ease-in-out;
}

.state-list__state-name::before {
  content: "#" counter(state-idx);
  display: inline-block;
  opacity: 0%;
  flex: 0 0 auto;
  overflow: hidden;

  width: 0;
  bottom: 0;
  right: 1.2rem;

  font-family: var(--sans-serif-font);
  font-weight: 800;

  /* transition: width .18s ease-in-out, opacity .18s ease-in-out; */
}

.state-list--sorted .state-list__state-name::before {
  opacity: 100%;
  /* stylelint-disable-next-line unit-disallowed-list */
  width: 1.5em;
}

.state-list__state:hover {
  cursor: pointer;

  border-color: var(--colors-sl-red-600);
  border-left-width: 4px;
}

.state-list__state.state-list__state--active {
  /* padding: 0.8rem 16.2rem 0.8rem 0.8rem; */

  border-color: var(--colors-sl-red-600);
  border-left-width: 0.8rem;
}

.state-list__state--active::before, .state-list__state--active::after {
  opacity: 100%;
}

.state-list__state--active .state-list__state-name {
  color: var(--colors-sl-red-500);
}

.state-list__state--active .state-seal {
  opacity: 10%;
  transform: translateX(0%) rotate(-9deg)
}

.state-list__register-button {
  pointer-events: none;
  box-sizing: border-box;
  position: absolute;
  display: flex;
  opacity: 0%;
  align-items: center;
  justify-content: center;

  width: fit-content;
  bottom: 0;
  right: 0;

  background-color: var(--colors-sl-yellow-500);

  padding: 1.2rem;
  border: 1px solid var(--colors-sl-blue-900);
  border-radius: 0.2rem 0 0;

  color: var(--colors-sl-blue-900);
  font-family: var(--sans-serif-font);
  font-size: 1.8rem;
  font-weight: 700;
  text-transform: uppercase;

  transform: translateY(0%) translateX(4.8rem);
  transition: opacity .28s ease-in-out, transform .28s  ease-in-out;

  border-width: 2px 0 0 2px;

  text-decoration: none;
}

.state-list__state--active .state-list__register-button {
  pointer-events: all;
  opacity: 100%;
  transform: translateY(0%) translateX(0);
}

.state-list__register-button::after {
  /* content: "\f772"; */
  content: "\f08b";
  display: flex;
  align-items: center;
  justify-content: center;;

  padding: 0 0.4rem 0 0.8rem;

  font-family: 'fontawesome';
  font-size: 2rem;
  line-height: 1.8rem;
}

.state-list__same-day {
  display: flex;
  align-items: center;
  justify-content: center;

  width: fit-content;

  margin: 0.4rem 0 0;

  color: var(--colors-green-700);
  font-size: 1.2rem;

  gap: 0.4rem
}

.state-list__same-day::before {
  content: "\f336";

  color: var(--colors-green-600);
  font-family: 'fontawesome';
  font-size: 1.3rem;
}

.state-list__same-day--none {
  color: var(--colors-sl-red-700);
}

.state-list__same-day--none::before {
  content: "\e12e";
  color: var(--colors-sl-red-600);
}

.state-list__state-header {
  display: flex;
  justify-content: space-between;

  gap: 1.8rem;
}

.state-list__description {
  box-sizing: border-box;

  width: 100%;
  max-width: min(calc(100% - 12.8rem), 40rem);

  margin: 0;
  padding: 0.4rem 0 0;

  font-size: 1.3rem;
}

.state-list__data {
  display: grid;

  height: fit-content;

  text-shadow: 0 0 0.8rem white, 0 0 1.2rem white, 0 0 2.8rem white;

  gap: 0 0.8rem;

  grid-auto-flow: column;

  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto;
}

.state-list__data-tag {
  color: var(--colors-sl-gray-800);
  font-size: 1.3rem;

  letter-spacing: -0.5px;

  /* font-weight: 700 */
}

.state-list__data-detail {
  margin: 0;

  color: var(--colors-sl-blue-800);
  font-family: var(--sans-serif-font);
  font-size: 1.6rem;
  font-weight: 800;
  white-space: pre;
}

@media (width <= 820px) {
  .state-list {
    padding: 0 0.8rem;

    border-top: none;
  }
  .state-list::before {
    height: 0;
  }
  .state-list::after {
    height: var(--search-height)
  }
  .state-list__register-button {
    pointer-events: all;
    opacity: 100%;
    transform: translateY(0%) translateX(0%)  ;
  }
  .state-list__state.state-list__state--active {
    border: 2px solid var(--colors-sl-blue-500);
  }
  .state-list__state-svg {
    display: none;
  }
  .state-list__state {
    max-width: unset;
  }
  .state-list__state-header {
    align-items: flex-start;

    flex-flow: column;
    gap: 0.8rem;
  }
  .state-list__state:hover {
    border-color: var(--colors-sl-blue-500);
    border-left-width: 2px
  }

}