
.search-controls {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 auto;
  overflow: hidden;

  max-width: min(100vw, var(--max-list-width));
  height: var(--search-height);

  margin: 0;
  border: none;

  flex-flow: column;
}


.search-controls__search {
  z-index: 2;

  width: calc(100% - 3.6rem); 
  max-width: calc(min(var(--max-list-width), 100vw) - 3.6rem);
  height: 5.2rem;

  background-color: white;

  outline: none;
  margin: 0 1.8rem 1.8rem;
  padding: 0 2.8rem;
  border: 2px solid var(--colors-sl-blue-900);
  border-radius: 5.8rem;

  color: var(--colors-sl-blue-900);
  font-size: 2.4rem;;
}

.search-controls__search::placeholder {
  color: var(--colors-sl-gray-600)
}

.search-controls__sort-pills {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: center;

  width: calc(100% - 3.6rem); 
  max-width: var(--max-list-width);

  margin: 0 1.8rem;
  padding: 0;

  color: var(--colors-sl-blue-800);
  font-size: 1.6rem;
  white-space: pre;

  flex-flow: row;
  gap: 0.8rem;

}

@media (width <= 820px) {
  .search-controls  {
    position: fixed;
    z-index: 3;

    width: 100vw;
    max-width: unset;
    bottom: 0;

    background-color: white;  

    border-top: 2px solid var(--colors-sl-blue-800);
  }
  .search-controls__search {
    height: 4.2rem;
    margin: 0 1.8rem 0.8rem;
    font-size: 1.8rem;
  }
  .search-controls__sort-pills {
    display: grid;

    gap: 0.4rem;

    grid-template-columns: auto auto auto;
  }
  .search-controls__sort-pills > :first-child {
    margin-right: 0.8rem;

    grid-row: 1 / 3;
  }
  .search-controls__sort-pills .sort-pill {
    width: 100%;
  }
}