
.state-seal {
  position: absolute;
  opacity: 0%;
  z-index: -1;

  height: calc(120% + 1.2rem);
  top: -10%;
  right: 9.2rem;

  fill: var(--slate-3);
  background-color: white;
  background-size: contain;
  box-shadow: 0 0 0 0.3rem white;

  margin: 0;
  border-radius: 50%;

  transform: translateX(20%) rotate(-9deg);
  transition: transform .28s ease-in-out, opacity .28s ease-in-out;

  aspect-ratio: 1;

  mix-blend-mode: multiply;
}

.state-seal__county {
  position: absolute;

  width: calc(100% + 1.8rem);
  height: calc(100% + 1.8rem);
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%) rotate(8deg);
}

.state-seal::before {
  /* stylelint-disable-next-line color-no-hex,color-hex-length */
  --mask: radial-gradient(24.14px at 50% calc(100% + 19.2px),#00000000 calc(99% - 3px),#000000 calc(101% - 3px) 99%,#00000000 101%) calc(50% - 24px) calc(50% - 7.5px + .5px)/48px 15px, radial-gradient(24.14px at 50% -19.2px,#00000000 calc(99% - 3px),#000000 calc(101% - 3px) 99%,#00000000 101%) 50% calc(50% + 7.5px)/48px 15px;
  content: "";
  position: absolute;
  opacity: 80%;
  z-index: -1;

  width: 12rem;
  height: 9.2rem;
  top: -1.8rem;
  right: 8.2rem;

  background: var(--colors-sl-red-500);

  transform: rotate(12deg) scale(0.45);
  transform-origin: 100% 50%;

  -webkit-mask: var(--mask);
  mask: var(--mask);
  -webkit-mask-position-y: 1rem;
  mask-position-y: 1rem;
  mix-blend-mode: lighten;
}